<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>王力CRM</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.jiuyi.Wangli001</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IMSDKCrashReporterEnable</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>开启日历权限后，您可以使用日历同步功能</string>
	<key>NSCameraUsageDescription</key>
	<string>开启相机权限后，您可以使用拍照上传图片、扫码等功能</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>请求位置信息用于发布签到定位功能</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>请求位置信息用于发布签到定位功能</string>
	<key>NSLocationUsageDescription</key>
	<string>请求位置信息用于发布签到定位功能</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>请求位置信息用于发布签到定位功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>开启麦克风权限后，您可以使用语音搜索等功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>开启相册权限后，您可以使用上传图片、扫码等功能</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>sign_in</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>签到</string>
			<key>UIApplicationShortcutItemType</key>
			<string>HF_Sign</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>key1</key>
				<string>value1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>more_sweep_number</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>扫批号</string>
			<key>UIApplicationShortcutItemType</key>
			<string>HF_Scan</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>key1</key>
				<string>value1</string>
			</dict>
		</dict>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
