<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>个人信息</string>
            <key>data</key>
            <array>
                <dict>
                    <key>id</key>
                    <integer>0</integer>
                    <key>name</key>
                    <string>姓名</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>1</integer>
                    <key>name</key>
                    <string>性别</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>2</integer>
                    <key>name</key>
                    <string>曾用名</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>3</integer>
                    <key>name</key>
                    <string>民族</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>4</integer>
                    <key>name</key>
                    <string>户籍地</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>5</integer>
                    <key>name</key>
                    <string>生日</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>6</integer>
                    <key>name</key>
                    <string>居住地</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>7</integer>
                    <key>name</key>
                    <string>详细住址</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>8</integer>
                    <key>name</key>
                    <string>手机</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>9</integer>
                    <key>name</key>
                    <string>电子邮箱</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>10</integer>
                    <key>name</key>
                    <string>政治面貌</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>11</integer>
                    <key>name</key>
                    <string>学历</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>12</integer>
                    <key>name</key>
                    <string>毕业院校</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>13</integer>
                    <key>name</key>
                    <string>职业</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>14</integer>
                    <key>name</key>
                    <string>现工作单位</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>15</integer>
                    <key>name</key>
                    <string>单位地址</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>16</integer>
                    <key>name</key>
                    <string>单位性质</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>17</integer>
                    <key>name</key>
                    <string>职务</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>18</integer>
                    <key>name</key>
                    <string>月收入</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>19</integer>
                    <key>name</key>
                    <string>第一联系人</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>20</integer>
                    <key>name</key>
                    <string>联系人电话</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>21</integer>
                    <key>name</key>
                    <string>秉性爱好</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>22</integer>
                    <key>name</key>
                    <string>婚配</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>23</integer>
                    <key>name</key>
                    <string>子女</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>24</integer>
                    <key>name</key>
                    <string>房产</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>25</integer>
                    <key>name</key>
                    <string>座驾</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>title</key>
            <string>履历及其他</string>
            <key>data</key>
            <array>
                <dict>
                    <key>id</key>
                    <integer>0</integer>
                    <key>name</key>
                    <string>个人简历</string>
                </dict>
                <dict>
                    <key>id</key>
                    <integer>1</integer>
                    <key>name</key>
                    <string>备注</string>
                </dict>
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>2</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>注册资金</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>3</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>信用额度</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>4</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>账期天数</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>5</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>开票税号</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>6</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>开户行</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>7</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>注册地址</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>8</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>法人姓名</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>9</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>经营范围</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>10</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>省份城市</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>11</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>办公地址</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>12</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>公司电话</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>13</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>注册日期</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>14</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>信用代码</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>15</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>经营状态</string>-->
<!--                </dict><dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>16</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>公司类型</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>17</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>营业期限</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>18</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>股东信息</string>-->
<!--                </dict><dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>19</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>主要成员</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>20</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>分支机构</string>-->
<!--                </dict>-->
<!--                <dict>-->
<!--                    <key>id</key>-->
<!--                    <integer>21</integer>-->
<!--                    <key>name</key>-->
<!--                    <string>公司网址</string>-->
<!--                </dict>-->
            </array>
        </dict>
    </array>
</plist>
