<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>对手情报</string>
        <key>type</key>
        <string>RULING_CLERICAL</string>
        <key>icon</key>
        <string>c_market_intelligence</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>客户投诉</string>
        <key>type</key>
        <string>ENFORCE_PERSON</string>
        <key>icon</key>
        <string>c_market_customer_complaints</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>客户调查</string>
        <key>type</key>
        <string>HEARING_ANNOUNCEMENT</string>
        <key>icon</key>
        <string>c_market_customer_survey</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>市场半月报</string>
        <key>type</key>
        <string>COURT_ANNOUNCEMENT</string>
        <key>icon</key>
        <string>c_market_monthly</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>其他记录</string>
        <key>type</key>
        <string>CREDIBILITY_INFORMATION</string>
        <key>icon</key>
        <string>c_market_recording</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>title</key>
		<string>产品需求</string>
        <key>type</key>
        <string>CHATTEL_MORTGAGE</string>
        <key>icon</key>
        <string>c_market_demand</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>title</key>
		<string>产品试验</string>
        <key>type</key>
        <string>TAXATION_INFORMATION</string>
        <key>icon</key>
        <string>c_market_text</string>
	</dict>
</array>
</plist>
