<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>产品信息</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateProduceViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建产品信息</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>工厂设备</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryEquipmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建工厂/设备信息</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>生产动态</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateProductionDynamicsViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建生产动态</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>原料信息</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateMaterialViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建原料信息</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>竞品信息</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateCompetitiveViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建竞品信息</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>title</key>
		<string>工厂招工</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建工厂招工</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>title</key>
		<string>生产许可</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建生产许可</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>title</key>
		<string>采购招标</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建采购招标</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>title</key>
		<string>进出口信息</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建进出口信息</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>title</key>
		<string>税务评级</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建税务评级</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>title</key>
		<string>抽查检查</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateFactoryRecruitmentViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建抽查检查</string>
	</dict>
    <dict>
        <key>id</key>
        <integer>11</integer>
        <key>title</key>
        <string>债券信息</string>
        <key>type</key>
        <string></string>
        <key>ctrlName</key>
        <string>CreateBondInfoViewCtrl</string>
        <key>ctrlTitle</key>
        <string>新建债券信息</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>12</integer>
        <key>title</key>
        <string>购地信息</string>
        <key>type</key>
        <string></string>
        <key>ctrlName</key>
        <string>CreatePurchaseLandViewCtrl</string>
        <key>ctrlTitle</key>
        <string>新建购地信息</string>
    </dict>
</array>
</plist>
