<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>裁决文书</string>
        <key>type</key>
        <string>RULING_CLERICAL</string>
        <key>imgName</key>
        <string>c_risk_decision</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>被执行人</string>
        <key>type</key>
        <string>ENFORCE_PERSON</string>
        <key>imgName</key>
        <string>c_risk_execution</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>开庭公告</string>
        <key>type</key>
        <string>HEARING_ANNOUNCEMENT</string>
        <key>imgName</key>
        <string>c_risk_opening_notice</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>法院公告</string>
        <key>type</key>
        <string>COURT_ANNOUNCEMENT</string>
        <key>imgName</key>
        <string>c_risk_court</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>失信信息</string>
        <key>type</key>
        <string>CREDIBILITY_INFORMATION</string>
        <key>imgName</key>
        <string>c_risk_lost</string>
	</dict>
    
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>title</key>
		<string>动产抵押</string>
        <key>type</key>
        <string>CHATTEL_MORTGAGE</string>
        <key>imgName</key>
        <string>c_risk_mortgage</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>title</key>
		<string>税务信息</string>
        <key>type</key>
        <string>TAXATION_INFORMATION</string>
        <key>imgName</key>
        <string>c_risk_tax</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>title</key>
		<string>司法拍卖</string>
        <key>type</key>
        <string>JUDICIAL_SALE</string>
        <key>imgName</key>
        <string>c_risk_auction</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>title</key>
		<string>股权出质</string>
        <key>type</key>
        <string>EQUITY_PLEDGED</string>
        <key>imgName</key>
        <string>c_risk_equity_pledge</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>title</key>
		<string>经营异常</string>
        <key>type</key>
        <string>BNORMAL_OPERATION</string>
        <key>imgName</key>
        <string>c_risk_experience</string>
	</dict>
    
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>title</key>
		<string>行政处罚</string>
        <key>type</key>
        <string>ADMINISTRATIVE_PENALTY</string>
        <key>imgName</key>
        <string>c_risk_punishment</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>title</key>
		<string>股权冻结</string>
        <key>type</key>
        <string>EQUITY_FREEZE</string>
        <key>imgName</key>
        <string>c_risk_equity_freeze</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>title</key>
		<string>司法协助</string>
        <key>type</key>
        <string>JUDICIAL_ASSISTANCE</string>
        <key>imgName</key>
        <string>c_risk_judicial_assistance</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>title</key>
		<string>立案信息</string>
        <key>type</key>
        <string>FILE_INFORMATION</string>
        <key>imgName</key>
        <string>c_risk_filing_information</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>title</key>
		<string>民间借贷</string>
        <key>type</key>
        <string>FOLK_LOAN</string>
        <key>imgName</key>
        <string>c_risk_loan</string>
	</dict>
    
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>title</key>
		<string>资产转移</string>
        <key>type</key>
        <string>ASSET_TRANSFER</string>
        <key>imgName</key>
        <string>c_risk_asset_transfer</string>
	</dict>
</array>
</plist>
