<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>商务合同</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>CreateContractViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建商务合同</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>销售订单</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>TrackOrderViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建销售订单</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>发货</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>SapInvoiceViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建发货</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>发票</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>BillingViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建发票</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>title</key>
		<string>电汇/承兑</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>ReceiptTrackingViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建电汇/承兑</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>title</key>
		<string>外贸物流</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>ForeignViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建外贸物流</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>title</key>
		<string>对账单</string>
		<key>type</key>
		<string></string>
		<key>ctrlName</key>
		<string>MonthyStatementViewCtrl</string>
		<key>ctrlTitle</key>
		<string>新建对账单</string>
	</dict>
</array>
</plist>
